body {
  font-family: 'Comfortaa', cursive;
  transition: background-color 0.5s ease, color 0.5s ease;
}

.card img {
  object-fit: cover;
  height: 100%;
  width: 100%;
  max-height: 150px;
}

.hover-bg-521:hover ~ body {
  background-color: #bda67e;
}

/* Hover Background Theme Swaps */
.bg-521     { background-color: #bda67e !important; }
.bg-valerie { background-color: #edb2d9 !important; }
.bg-trebz   { background-color: #d3d1ff !important; }
.bg-bing    { background-color: #005A43 !important; }
